@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
* {
  max-width: 100vw;
}
.MuiTypography-h5 {
  font-size: 8rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}
.animation {
  display: flex;
  flex-direction: row;
  pointer-events: none;
  width: 85vw;
  align-items: center;
  margin-bottom: 3vh;
}

.subtitle {
  width: 40vw;
  font: normal 45pt "Unica One", cursive;
  color: #041e29;
  font-weight: 600;
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.068) 4px 4px 4px;
}

.subtitle4 {
  width: 40vw;
  font: normal 45pt "Unica One", cursive;
  color: #041e29;
  font-weight: 600;
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.068) 4px 4px 4px;
}
.animation2 {
  display: flex;
  flex-direction: row-reverse;
  pointer-events: none;
  width: 95vw;
  align-items: center;
  margin-bottom: 22vh;
}

.animation3 {
  display: flex;
  flex-direction: row-reverse;
  pointer-events: none;
  height: 70vh;
  width: 160vw;
  align-items: center;
  margin-bottom: 22vh;
}

.animation4 {
  display: flex;
  flex-direction: row;
  pointer-events: none;
  height: 70vh;
  width: 160vw;
  align-items: center;
  margin-bottom: 22vh;
}

.subtitle2 {
  width: 40vw;
  font: normal 45pt "Unica One", cursive;
  color: #041e29;
  font-weight: 600;
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.068) 4px 4px 4px;
  margin-left: 10vw;
}

.badge {
  display: inline-block;
  padding: 0;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
}
.title1 {
  font: normal 50pt "Unica One", cursive;
  color: rgb(255, 255, 255);
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.234) 4px 4px 4px;
}
.title1 > h1 {
  margin: 0;
  padding: 0;
}

.title5 {
  font: normal 39pt "Unica One", cursive;
  color: #07364a;
  margin: 15px;
  text-shadow: rgba(0, 0, 0, 0.05) 4px 4px 4px;
  text-align: center;
  align-items: center;
  font-weight: 600;
}

.title2 {
  font: normal 50pt "Unica One", cursive;
  color: rgb(255, 255, 255);
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.352) 4px 4px 4px;
  padding-top: 2vh;
  padding-bottom: 3vh;
  text-align: justify;
}

.Box {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-top: 1vh;
  padding-bottom: 8px;
  min-height: Calc(40vh - 130px - 70px);
  width: 48vw;
  background-color: rgb(29, 166, 157);
  text-align: center;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.483) 2px 2px 2px;
  display: inline-table;
}
.Case {
  padding-top: 9vh;
  display: flex;
  width: 50vw;
}
.title1 > h2 {
  text-align: center;
  padding: 20vh;
}
.apresentacao {
  margin: 0;
  background: #07364a center center/cover no-repeat;
  text-align: center;
  flex-grow: 1;
  padding: 4vh;
  height: 90%;
  opacity: 0.9;
}
.bloco {
  margin: 0;
  padding-top: 0;
}
.container > p {
  font: normal 25pt Roboto;
  padding-left: 2vw;
  padding-bottom: 1vh;
  text-align: justify;
}
.Topicos {
  width: 45vw;
  padding-left: 5vw;
  margin: 0;
}

.Topicos > p {
  font: normal 25pt Roboto;
  padding-top: 0vh;
  padding-bottom: 5vh;
  text-align: justify;
}
.boxTopicos {
  display: inline-table;
}

.Check {
  color: rgb(37, 198, 1);
}

.Grade {
  grid-template-columns: 345px 345px 345px;
  grid-gap: 5vw;
  display: inline-grid;
  margin-top: 12rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
}
.Grade2 {
  grid-template-columns: 345px 345px;
  grid-gap: 2vw;
  display: grid;

  padding-top: 5vh;
  padding-bottom: 3vh;
  justify-content: center;
}

.Grade2 a {
  text-decoration: none;
}
.netflix {
  width: 100%;
  height: 95vh;
  display: flex;
}

.title3 {
  font: normal 50pt "Unica One", cursive;
  color: rgb(255, 255, 255);
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
}
.stream {
  padding-top: 15vh;
}

.title4 {
  font: normal 50pt "Unica One", cursive;
  color: rgb(255, 255, 255);
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
}
@media screen and (min-width: 1900px) {
  .title5 {
    font: normal 52pt "Unica One", cursive;
    color: #07364a;
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.05) 4px 4px 4px;
    text-align: center;
    align-items: center;
    font-weight: 600;
  }

  .Grade {
    grid-template-columns: 345px 345px 345px;
    grid-gap: 5vw;
    display: inline-grid;

    margin-top: 12rem;
    margin-bottom: 17rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .animation {
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;

    align-items: center;
    margin-bottom: 3vh;
  }

  .subtitle {
    font: normal 27pt "Unica One", cursive;
    color: #041e29;
    font-weight: 600;
    margin-left: 5.5rem;
    margin-top: 13rem;
    width: 68vw;

    text-shadow: rgba(0, 0, 0, 0.068) 4px 4px 4px;
  }
  .subtitle4 {
    font: normal 27pt "Unica One", cursive;
    color: #041e29;
    font-weight: 600;
    margin-left: 5.5rem;
    margin-top: 4rem;
    width: 68vw;

    text-shadow: rgba(0, 0, 0, 0.068) 4px 4px 4px;
  }
  .animation2 {
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    width: 95vw;
    align-items: center;
    margin-bottom: 22vh;
  }

  .animation3 {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    height: 70vh;
    width: 160vw;
    align-items: center;
    margin-bottom: 0vh;
  }

  .animation4 {
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    height: 120vh;
    width: 90vw;
    align-items: center;
    margin-bottom: 22vh;
  }

  .subtitle2 {
    font: normal 27pt "Unica One", cursive;
    color: #041e29;
    font-weight: 600;
    margin-left: 5.5rem;
    margin-top: 5rem;
    width: 68vw;

    text-shadow: rgba(0, 0, 0, 0.068) 4px 4px 4px;
  }

  .Grade {
    padding-left: 0vw;
    padding-top: 4vh;

    grid-template-columns: 275px;
    display: grid;
  }
  .Grade2 {
    padding-left: 0vw;
    padding-top: 8vh;
    grid-template-columns: 275px;
  }
  .title1 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.234) 4px 4px 4px;
  }
  .title2 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.352) 4px 4px 4px;
    padding-top: 2vh;
    padding-bottom: 3vh;
    text-align: justify;
  }
  .title4 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }

  .title5 {
    font: normal 32pt "Unica One", cursive;
    color: #07364a;
    margin: 15px;
    text-shadow: rgba(0, 0, 0, 0.05) 4px 4px 4px;
    text-align: center;
    align-items: center;
    font-weight: 600;
  }
  .apresentacao {
    margin: 0;
    background: #07364a center center/cover no-repeat;
    text-align: center;
    flex-grow: 1;
    padding: 2vh;
    height: 60%;
  }

  .Topicos {
    width: 100vw;
    padding-left: 0vw;
    padding-top: 8vh;
    margin: 0;
    flex-direction: row;
  }
  .Topicos > p {
    font: normal 16pt Roboto;
    padding-top: 0vh;
    padding-bottom: 3vh;
    text-align: justify;
  }
  .Box {
    justify-content: stretch;
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    padding-bottom: 8px;
    min-height: Calc(40vh - 130px - 70px);
    width: 48vw;
    background-color: rgb(29, 166, 157);
    text-align: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.483) 2px 2px 2px;
    display: inline-table;
  }
  .boxTopicos {
    display: flex;
    width: 50vw;
  }
  .Case {
    padding-top: 9vh;
    display: contents;
    width: 50vw;
  }
  .title3 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }
  .netflix {
    width: 100%;
    height: 60vh;
    display: flex;
  }
}

@media screen and (max-width: 415px) {
  .Grade {
    grid-template-columns: 325px;
    margin-top: 9vh;
  }

  .animation4 {
    height: 80vh;
  }

  .animation3 {
    height: 55vh;
  }
}

@media screen and (max-width: 375px) {
  .animation4 {
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    height: 90vh;
    width: 90vw;
    align-items: center;
    margin-bottom: 22vh;
  }
  .subtitle4 {
    margin-top: 4rem;
  }
  .animation3 {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    height: 55vh;
    width: 160vw;
    align-items: center;
    margin-bottom: 0vh;
  }
  .Grade {
    display: grid;
    padding-top: 0vh;
    margin-top: 18vh;
    grid-template-columns: 275px;
  }
  .Grade2 {
    padding-left: 0vw;
    padding-top: 8vh;
    grid-template-columns: 275px;
  }
  .title1 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.234) 4px 4px 4px;
  }
  .title2 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.352) 4px 4px 4px;
    padding-top: 2vh;
    padding-bottom: 3vh;
    text-align: justify;
  }
  .title4 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }
  .apresentacao {
    margin: 0;
    background: #07364a center center/cover no-repeat;
    text-align: center;
    flex-grow: 1;
    padding: 2vh;
    height: 60%;
  }

  .Topicos {
    width: 85vw;
    padding-left: 0vw;
    padding-top: 8vh;
    margin: 0;
  }
  .Topicos > p {
    font: normal 15pt Roboto;
    padding-top: 0vh;
    padding-bottom: 2vh;
    text-align: justify;
  }
  .Box {
    justify-content: stretch;
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    padding-bottom: 8px;
    min-height: Calc(40vh - 130px - 70px);
    width: 48vw;
    background-color: rgb(29, 166, 157);
    text-align: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.483) 2px 2px 2px;
    display: inline-table;
  }
  .boxTopicos {
    display: flex;
    width: 50vw;
  }
  .Case {
    padding-top: 9vh;
    display: contents;
    width: 50vw;
  }
  .title3 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }
  .netflix {
    width: -moz-available;
    height: 60vh;
    display: flex;
  }
}

@media screen and (max-width: 365px) {
  .animation4 {
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    height: 117vh;
    width: 90vw;
    align-items: center;
    margin-bottom: 22vh;
  }
  .subtitle4 {
    margin-top: 4rem;
  }
  .Grade {
    padding-left: 0vw;
    padding-top: 8vh;
    grid-template-columns: 275px;
    display: grid;
    margin-top: 5vh;
  }
  .Grade2 {
    padding-left: 0vw;
    padding-top: 8vh;
    grid-template-columns: 275px;
  }
  .title1 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.234) 4px 4px 4px;
  }
  .title2 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.352) 4px 4px 4px;
    padding-top: 2vh;
    padding-bottom: 3vh;
    text-align: justify;
  }
  .title4 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }
  .apresentacao {
    margin: 0;
    background: #07364a center center/cover no-repeat;
    text-align: center;
    flex-grow: 1;
    padding: 2vh;
    height: 60%;
  }

  .Topicos {
    width: 100vw;
    padding-left: 0vw;
    padding-top: 8vh;
    margin: 0;
  }
  .Topicos > p {
    font: normal 15pt Roboto;
    padding-top: 0vh;
    padding-bottom: 2vh;
    text-align: justify;
  }
  .Box {
    justify-content: stretch;
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    padding-bottom: 8px;
    min-height: Calc(40vh - 130px - 70px);
    width: 48vw;
    background-color: rgb(29, 166, 157);
    text-align: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.483) 2px 2px 2px;
    display: inline-table;
  }
  .boxTopicos {
    display: flex;
    width: 50vw;
  }
  .Case {
    padding-top: 9vh;
    display: contents;
    width: 50vw;
  }
  .title3 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }
  .netflix {
    width: -moz-available;
    height: 60vh;
    display: flex;
  }
}

@media screen and (max-width: 300px) {
  .Grade {
    padding-left: 0vw;
    padding-top: 8vh;
    grid-template-columns: 275px;
    display: grid;
  }
  .Grade2 {
    padding-left: 0vw;
    padding-top: 8vh;
    grid-template-columns: 275px;
  }
  .title1 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.234) 4px 4px 4px;
  }
  .title2 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.352) 4px 4px 4px;
    padding-top: 2vh;
    padding-bottom: 3vh;
    text-align: justify;
  }
  .title4 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }
  .apresentacao {
    margin: 0;
    background: #07364a center center/cover no-repeat;
    text-align: center;
    flex-grow: 1;
    padding: 2vh;
    height: 60%;
  }

  .Topicos {
    width: 100vw;
    padding-left: 0vw;
    padding-top: 8vh;
    margin: 0;
  }
  .Topicos > p {
    font: normal 15pt Roboto;
    padding-top: 0vh;
    padding-bottom: 2vh;
    text-align: justify;
  }
  .Box {
    justify-content: stretch;
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    padding-bottom: 8px;
    min-height: Calc(40vh - 130px - 70px);
    width: 48vw;
    background-color: rgb(29, 166, 157);
    text-align: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.483) 2px 2px 2px;
    display: inline-table;
  }
  .boxTopicos {
    display: flex;
    width: 50vw;
  }
  .Case {
    padding-top: 9vh;
    display: contents;
    width: 50vw;
  }
  .title3 {
    font: normal 30pt "Unica One", cursive;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.621) 4px 4px 4px;
  }
  .netflix {
    width: -moz-available;
    height: 60vh;
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  .Grade {
    padding-left: 0vw;
    padding-top: 8vh;
    grid-template-columns: 275px;
    margin-left: 0px;
    display: grid;
  }
  .Grade2 {
    padding-top: 8vh;
    grid-template-columns: 275px;
    margin-left: 0px;
    padding-left: 0;
  }
}
